body{
    background-image:url(js/img/Field.jpg) ;
    background-size: cover;
    overflow: hidden; 
    
}

body {
    background-image: url(js/img/Field.jpg);
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif; 
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Bangers', cursive;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10; 
}

.field {
    background-color: rgba(255, 0, 0, 0.5);
    width: 50%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
}

.fightarea {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-top: 350px; 
    justify-content: center; 
}

#char,
#monster {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 90px;
}

.lifebar {
    height: 12px;
    width: 400px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.lifebar .bar {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.attackButton {
    width: 80px;
}

.log {
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll;
    color: white;
}
